#!/bin/bash

# check process secor-script with pidfile /var/run/secor-script.pid
# start = "/bin/secor-script start"
# stop = "/bin/secor-script stop"

case $1 in
    start)
		cd /home/ec2-user/secor-me
		echo $$ > secor.pid
		nohup java -Xms256M -Xmx512M -ea -Dsecor_group=me -Dlog4j.configuration=log4j.{{ env }}.properties -Dconfig=secor.{{ env }}.partition.properties -cp secor-{{ secorVersion }}-SNAPSHOT.jar:lib/* com.pinterest.secor.main.ConsumerMain &
		;;
	stop)  
		kill `cat /home/ec2-user/secor-me/secor.pid` ;;
	*)  
		echo "usage: secor-script {start|stop|check}" ;;
esac
exit 0