.classpath
.cache
.cache-main
.project
platform-core/analytics-common/.settings
*.prefs
dependency-reduced-pom.xml
.cache-tests
target
platform-scripts/orchestrator/node_modules
node_modules/
platform-viz/viz-player
joblog.log
platform-api/repository
platform-modules/batch-models/logs
*.pyc
**/content_corpus/*
**/log/*
**/tmp/*
