version: 2.1
jobs:
  analytics-build:
    machine: true
    steps:
    - checkout
    - restore_cache:
        key: dp-dependency-cache-{{ checksum "pom.xml" }}
    - run:
        name: analytics-framework-build
        command: cd platform-framework && mvn clean install -DskipTests && mvn scoverage:report
    - run:
        name: data-products-build
        command: cd platform-modules && mvn clean install -DskipTests && mvn scoverage:report
    - run: cd platform-modules/job-manager && mvn clean package
    - run:
        name: lpa-api-build
        command: cd platform-api && mvn clean install -DskipTests && mvn scoverage:report
    - run: cd platform-api && mvn play2:dist -pl analytics-api
    - save_cache:
        key: dp-dependency-cache-{{ checksum "pom.xml" }}
        paths: ~/.m2
    - run: mkdir temp && cp platform-framework/analytics-job-driver/target/analytics-framework-1.0.jar temp/
    - run: cp platform-modules/batch-models/target/batch-models-1.0.jar temp/
    - run: cp platform-modules/job-manager/target/job-manager-1.0-distribution.tar.gz temp/
    - run: cp platform-api/analytics-api/target/analytics-api-1.0-dist.zip temp/
    - store_artifacts:
        path: temp
        destination: temp/

    - run:
        name: sonar
        command: |
          mvn verify -X sonar:sonar -Dsonar.projectKey=project-sunbird_sunbird-analytics -Dsonar.organization=project-sunbird -Dsonar.host.url=https://sonarcloud.io -Dsonar.scala.coverage.reportPaths=/home/circleci/project/target/scoverage.xml,/home/circleci/project/platform-modules/batch-models/target/scoverage.xml,/home/circleci/project/platform-framework/analytics-job-driver/target/scoverage.xml,/home/circleci/project/platform-framework/analytics-core/target/scoverage.xml,/home/circleci/project/platform-api/analytics-api/target/scoverage.xml,/home/circleci/project/platform-api/analytics-api-core/target/scoverage.xml

workflows:
  version: 2.1
  workflow:
    jobs:
    - analytics-build