.browserupgrade {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

/* Everything but the jumbotron gets side spacing for mobile first views */

.header,
.marketing,
.footer {
    padding-left: 15px;
    padding-right: 15px;
}


/* Custom page header */

.header {
    border-bottom: 1px solid #e5e5e5;
}


/* Make the masthead heading the same height as the navigation */

.header h3 {
    margin-top: 0;
    margin-bottom: 0;
    line-height: 40px;
    padding-bottom: 19px;
}


/* Custom page footer */

.footer {
    padding-top: 19px;
    color: #777;
    border-top: 1px solid #e5e5e5;
}

.container-narrow > hr {
    margin: 30px 0;
}


/* Main marketing message and sign up button */

.jumbotron {
    text-align: center;
    border-bottom: 1px solid #e5e5e5;
}

.jumbotron .btn {
    font-size: 21px;
    padding: 14px 24px;
}


/* Supporting marketing content */

.marketing {
    margin: 40px 0;
}

.marketing p + h4 {
    margin-top: 28px;
}


/* Responsive: Portrait tablets and up */

@media screen and (min-width: 768px) {
    .container {
        max-width: 730px;
    }
    /* Remove the padding we set earlier */
    .header,
    .marketing,
    .footer {
        padding-left: 0;
        padding-right: 0;
    }
    /* Space out the masthead */
    .header {
        margin-bottom: 30px;
    }
    /* Remove the bottom border on the jumbotron for visual effect */
    .jumbotron {
        border-bottom: 0;
    }
}

#graph-container {
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    position: absolute;
}

#control-pane {
    /*top: 50px;*/
    /*bottom: 10px;*/
    right: 0px;
    position: absolute;
    width: 310px;
    background-color: rgb(249, 247, 237);
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
}

#control-pane > div {
    margin: 10px;
    overflow-x: auto;
}

.line {
    clear: both;
    display: block;
    width: 100%;
    margin: 0;
    padding: 12px 0 0 0;
    border-bottom: 1px solid #aac789;
    background: transparent;
}

.green {
    color: #437356;
}

h2.underline {
    color: #437356;
    background: #f4f0e4;
    margin: 0;
    border-radius: 2px;
    padding: 8px 12px;
    font-weight: 700;
}

.hidden {
    display: none;
    visibility: hidden;
}

input[type=range] {
    width: 160px;
}

.nodeJSONPreview {
    max-height: 500px;
}

.node-name-select {
    width: 100%;
}

.node-name-select option {
    width: 250px;
    position: relative;
}

.list-object-type {
    max-height: 200px;
    overflow: auto;
}

.legend-cont {
    top: 100px;
    position: absolute;
}

.node-circle {
    width: 20px;
    height: 20px;
    border-radius: 10px;
    margin: 2px;
    float: left;
}

.node-circle p {
    margin-left: 25px;
    float: left;
}

.bg-red {
    background-color: red;
}

.bg-green {
    background-color: green;
}

.bg-blue {
    background-color: blue;
}

.mar-top-5 {
    margin-top: 5px;
}

.mar-top-10 {
    margin-top: 10px;
}

.legend {
    position: absolute;
    left: 20px;
    top: 20px;
}

.circle {
    width: 20px;
    height: 20px;
    border-radius: 10px;
    margin: 5px;
    display: block;
}

.circle span,
.size-1 span,
.size-2 span {
    margin-left: 30px;
    width: 200px;
    display: inline-block;
}

.bg-orange {
    background-color: #DC5C05;
}

.bg-black {
    background-color: #000000;
}

.bg-blue {
    background-color: #FF9000;
}

.size-1 {
    width: 4px;
    height: 4px;
    border-radius: 2px;
    margin: 5px;
    display: inline-block;
    vertical-align: middle;
}

.size-2 {
    width: 10px;
    height: 10px;
    border-radius: 5px;
    margin: 5px;
    display: inline-block;
    vertical-align: middle;
}

.mar-left-20 {
    margin-left: 20px;
}

.cir-cont {
    height: 30px;
}

h4.panel-title {
    font-size: 13px;
    font-weight: bold;
}