<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="WARN">
	<Properties>
		<Property name="baseDir">logs</Property>
		<Property name="REDir">logs</Property>
		<!-- <Property name="baseDir">/mnt/data/analytics/logs</Property> --> <!-- Production Config -->
	</Properties>
	<Appenders>
		<Console name="Console" target="SYSTEM_OUT">
			<PatternLayout pattern="%d{HH:mm:ss.SSS} [%t] %-5level %logger{36} - %msg%n" />
		</Console>
		<RollingFile name="RollingFileAppender" fileName="${baseDir}/joblog.log" filePattern="${baseDir}/joblog-%d{MM-dd-yyyy}-%i.log">
			<PatternLayout>
				<Pattern>%m%n</Pattern>
			</PatternLayout>
			<Policies>
				<TimeBasedTriggeringPolicy />
			</Policies>
		</RollingFile>
		<RollingFile name="RE-RollingFileAppender" fileName="${sys:REDir}/joblog.log" filePattern="${REDir}/joblog-%d{MM-dd-yyyy}-%i.log">
			<PatternLayout>
				<Pattern>%m%n</Pattern>
			</PatternLayout>
			<Policies>
				<TimeBasedTriggeringPolicy />
			</Policies>
		</RollingFile>
		<Async name="Async">
			<AppenderRef ref="RollingFileAppender" />
		</Async>
	</Appenders>
	<Loggers>
		<Logger name="org.ekstep.analytics" level="info" additivity="false">
			<AppenderRef ref="Async"/>
		</Logger>
		<Logger name="org.ekstep.analytics.model" level="info" additivity="false">
			<AppenderRef ref="RE-RollingFileAppender"/>
		</Logger>
		<Root level="error">
			<AppenderRef ref="Console" />
		</Root>
	</Loggers>
</Configuration>
